# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# macOS
.DS_Store

# Temporary files
*.tmp
*.temp
*~

# R package / cache files
.Rcache/
cache/
renv/library/
renv/staging/

# Decision Logs and Manuscript Prep
docs/
writing/